<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: admin-head"></head>
<body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" th:src="@{/photos/admin.jpg}" alt="" width="100" height="100">
    <h2>Writer Editing Page</h2>
	<a th:href="@{/admin/writer/list}">Back</a>
  </div>
    <div class="col-md-15 order-md-1">
      <form  th:object="${writer}" method="post" th:action="@{/admin/writer/edit/{id}(id=${writer.writerId})}">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="writerName" th:text="'Writer Name'"></label>
         	<input type="text" class="form-control" id="writerName" th:field="*{writerName}" required>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6 mb-3">
            <label for="writerSurname" th:text="'Writer Surname'"></label>
         	<input type="text" class="form-control" id="writerSurname" th:field="*{writerSurname}" required>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="writerDescription" th:text="'Description about the writer'"></label>
            <textarea class="form-control" id="writerDescription" th:field="*{writerDescription}" rows="7" required>
            </textarea>
          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Update writer</button>
      </form>
    </div>
  </div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
